body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.header {
    background-image: url('./images/headphones_hero_1.jpg');
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position: center;
}

.header #logo img {
    width: 161px;
}


.header .nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
}

.header .navphone {
    display: none;
}


.header .nav #menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header .nav #menu li:hover {
    cursor: pointer;
    color: #FF6565;
}

.header .container {
    display: flex;
    justify-content: center;
}

.header .container .header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 300px;
}

.header .container .header-content h1 {
    font-size: 32px;
    margin-bottom: 0.3rem;
}

.header .container .header-content h3 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.header .container .header-content .call {
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    color: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    margin-bottom: 65px;
}

.header .container .header-content .call:hover {
    opacity: 0.9;
}

.header .container .header-content p {
    max-width: 640px;
    height: 105px;
    font-size: 16px;
    line-height: 26px;
}




@media screen and (max-width: 770px) {
    .header .nav {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 520px) {

    .header .nav, #menu-toggle {
        display: none;
    }

    .header .navphone {
       display: flex;
       justify-content: center;
       padding: 10px;
    }

    .header .navphone #logo{
        flex-grow: 1;
        text-align: center;
     }

    .header .navphone span {
        display: block;
        width: 20px;
        height: 2.5px;
        background-color: white;
        margin: 5px;
        margin-left: 20px;
        transition: transform 0.5s ease-in-out;
     }

     .header .navphone span:nth-child(2) {
        width: 15px;
     }

     .header .navphone #menu-phone {
        display: none;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 3%;
        justify-content: center;
        margin-top: 15px;
     }

     .header .navphone #menu-phone .nav-links {
        list-style: none;
        color: white;
        text-align: left;
     }

     .header .navphone #menu-phone .nav-links li:nth-child(2){
        margin-top: 2.5rem;
     }

     .header .navphone #menu-phone .nav-links li:nth-child(3){
        margin-top: 2.5rem;
     }

     .header .navphone #menu-toggle:checked + .burger-menu ~ #menu-phone {
        display: flex;
        
    }

    .header .navphone #menu-toggle:checked + .burger-menu span:nth-child(2) {
        width: 0;
    }

    .header .navphone #menu-toggle:checked + .burger-menu span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5.5px);
    }

    .header .navphone #menu-toggle:checked + .burger-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5.5px);
    }

    .header .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}